#interactivemap{
    top: 0px;
    left: 0px;
    width: 860px;
    min-width: 860px;
}

.logo{
  z-index: 9;
  max-width: 200px;
  position: absolute;
}

#main-body{
    background-color: #272727;
}

#spotify{
  background-color: #272727;
  width: 100%;
  height: 100%;
  position: absolute;
  
  /* scrollbar management */
  overflow-y:scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;  /* IE and Edge */
}

.spotify::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.spotifyplayerbeta{
  width: 10%;
}

/*FLEX Container */
.flex-container {
    display: grid;
    grid-template-columns: 1fr 50%;
    grid-template-rows: 1fr;
}

.flex-child {
    flex: 1;
} 